*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
ul{
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #111E6C;
    z-index: 200;
}

header a{
    min-height: 70px;
    padding-top: 30px;
    text-decoration: none; 
    color: white;
    font-family: "Times New Roman", Times, serif;  
}

header #logo{
    float: left;
}

header #logo h1{
    margin: 0;
    margin-top: 5px;
    margin-left: 50px;
}

header li button{
    display: inline;
    background-color :#0a554fe8;
    border: none;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 2px;
    color:whitesmoke;
    outline: none;
    cursor: pointer;
}

header li button:hover{
    background-color: #369b92e8;
}

footer {
    position: fixed;
    width: 100%;
    color: white;
    bottom: 0;

}

.footer-section {
   background-color: #111E6C;
    border-bottom: 1px solid #4b5152;
    text-align: center; 
    padding: 10px;
    
}

.session {
    max-width: 700px;
    padding: 20px 20px;
    margin: 10px auto;
    margin-top: 120px;
    background: #025959;
    border-radius: 8px;
    text-align: center;
}

.session input[type=text] {
    width: 60%;
    padding: 10px;
    margin: 5px 0 30px 0;
    border: none;
    outline: none;
    border-bottom: 2px ridge;
    background: #E3F2C2;
}

.session input[type=text]:focus {
    border-bottom: 2px solid;
    background: #E3F2C2;
}

.session button {
    background-color: #202226;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.85;
}

.session button:hover {
    opacity: 1;
}

.sessionbtn {
    width: 50%;
}

.session hr {
    border: 1px solid black;
    margin-bottom: 25px;
}

.containers{
    top: 0;
    height: 60px;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-top: 20px;
    box-shadow: 2px 0px 2px 2px #eaeaea;
    z-index: 100;
}

.admin-nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
    padding-top: 20px;
}

.admin-nav ul li{
    display: inline;
    padding-left: 40px;
}


.close{
    display: none;
}
.menu{
    display: none;
}


  @media screen and (max-width: 768px){ 
    .containers{
        width: 90%;
        margin: auto;
    }
    .admin-nav ul{
       display: none;
    }
    
    .close{
        margin: 10px;
        font-size: 25px;
        right: 0;
        top: 0;
        cursor: pointer;
        position: absolute;
        border: 1px solid #ddd;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        display: block;
    }
    .menu{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        margin-top: 25px;
    }
    .nav-menu{
        background:#131111;
        width: 45%;
        position: fixed;
        z-index: 500;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0px 0px 8px 2px #0e000057;
       transform:translateX(100%);
        -webkit-transform: translateX(100%);
        -webkit-transition:transform 0.6s ease;
        transition: transform 0.5s ease;
        display: block;
    }
    .nav-menu ul{
        margin-top: 60px;
        margin-left: 20px;
    }
    .nav-menu li a{
        text-decoration: none;
    }
    .menu-side{
        display: block;
        margin-top: 20px;
        color: #fff;
        font-size: 21px;
    }
    .session {
        position: relative;
        width: 80%;
        margin-top: 30%;  
    }
    .session form {
        float: center;
        width: 95%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .session textarea {
        width: 70%;
    }
  
    }